@media screen and (orientation: landscape) {
  .intro-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 0px;
    width: 100%;
    height: 100%;
    background-color: white;
  }
  .intro-left {
    grid-column: 1;
    align-items: center;
  }
  .intro-right {
    grid-column: 2;
    display: flex;
  }
  .right-side-image {
    width: 100%;
    height: auto;
  }
  .text-content-container {
    margin-top: var(--section-content-top-margin);
    margin-left: var(--left-content-margin);
    margin-right: 6vw;
  }

  .arrow-right-icon {
    color: var(--primary-dark-color);
    font-size: 1.5vw;
  }
}