#header1 {
  color: white;
  font-size: 3vw;
}
#header2 {
  color: white;
  font-size: 3vw;
}

.hero {
  z-index: 0;
  width: 100%; /* Make the image cover the container's width */
  height: auto; /* Maintain aspect ratio */
  display: block;
}

.hero-content-container {
  font-size:large;
  position: absolute;
  width:100%;
  top: 0;
  left: 0;
  z-index: 1;
  /* border: solid 5px red; */
}

.logo {
  margin-left:10vw;
  margin-top:3vw;
  width: 15vw;
}