
@media screen and (orientation: portrait) {
  #header1 {
    font-size: 10vw;
    padding-top: 30vh;
    font-family: 'Montserrat', sans-serif;
    -webkit-text-stroke: 2px white;
    color: transparent;
  }
  #header2 {
    color: white;
    font-size: 8vw;
    padding-top:10vh;
    background: linear-gradient(90deg, rgba(245, 37, 151, 1) 35%, rgba(235, 203, 37, 1) 65%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;

  }
  .hero {
    z-index: 0;
    width: 100vw;
    height: auto;
    display: block;
  }
  .hero-content-container {
    font-size:large;
    position: absolute;
    width:100%;
    top: 0;
    left: 0;
    z-index: 1;
  }

  .logo {
    margin-left:8vw;
    margin-top:3vw;
    width: 35vw;
  }



}