@media screen and (orientation: landscape) {
  .banner2 {
    width: 100%;
    height: auto;
    z-index: 0;
    display: block;
  }
  .portfolio-content-container {
    font-size:large;
    position: absolute;
    padding-left: 55vw;
    padding-top: 2vw;
    top: 0;
    left: 0;
    z-index: 1;
  }
  .gallery-container-grid {
    display: grid;
    grid-template-columns: .5fr .5fr 1fr;
    grid-gap: 1vw;

    align-items: center;
    text-align: center;
  }
  .gallery-photo {
    height: 10vw;
    border: solid .5vw black;
    border-radius: 5px;
  }
  .gallery-photo:hover {
    transform: scale(1.6);
  }
  .gallery-photo-vertical {
    height: 20vw;
    border: solid .5vw black;
    border-radius: 5px;
  }
  .gallery-photo-vertical:hover {
    transform: scale(1.7);
  }
}