@media screen and (orientation: landscape) {
  .early-earth{
    width: 100%;
    display: block;
  }
  .modal{
      position: absolute;
      top: 8vh;
      left: 40px;
      right: 40px;
      bottom: 40px;
      color: white;
      background-color: white;
      background-size: cover;
      width:45vw;
      height: 50vh;
      text-align: center;
      margin: 0 auto;
      z-index: 3;
  }
  .modal :focus {
    outline: none;
  }
  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.75);
    z-index: 2;
  }
  .modal-title {
    margin-top: 0;
    font-size: 5vw;
    color: white;
  }
  .modal-paragraph {
    font-size: 1vw;
    padding-bottom: 1vw;
    margin-left: 3vw;
    margin-right: 3vw;
    color: black;
  }
  .modal-container {
    display: flex;
    flex-direction: column;
  }
  .image-container {
    position: relative;
  }
  .modal-content-container {
    background-color: rgba(0,0,0,.75);
    flex-grow: 1;
    overflow: hidden;
  }
  .early-earth-caption {
    position: absolute;
    bottom: 1vw;
    left: 1vw;
    color: white;
    font-style: italic;
    font-size: 1vw;
    font-weight:800;
    margin: 0;
  }
}