.reviews-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  gap: 0px;
  width: 100%;
  height: 35vw;
  background-color: white;
  /* border: sandybrown 5px solid; */
}

.reviews-left {
  grid-column: 1 / 2;
  /* border: solid 5px red; */
  height:100%;
  margin-left: 10vw;
  margin-top: 10vw
}

.reviews-right {
  grid-column: 2 / 3;
  display: flex;
  border: solid 5px green;
  height:100%;
  text-align: center;
  margin: auto;
}