@media screen and (orientation: landscape) {
  .features-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0px;
    width: 100vw;
    height: 35vw;
  }
  .features-left {
    grid-column: 1 / 2;
  }
  .features-right {
    grid-column: 2 / 3;
  }

  .features-content-container {
    padding-top: var(--section-content-top-margin);
    margin-left: var(--left-content-margin);
    margin-right: 5vw;
    font-size: large;
  }
  .features-icons-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 100%;
    height: 100%;
    margin: auto;
    background-color: var(--primary-light-color);
    align-items: center;
    justify-content: center;
  }
  .ring-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
  }
  .ring {
    position: relative;
    padding: 2.5vw;
    width: 30%;
    height: 50%;
    align-items: center;
    justify-content: center;
  }
  .ring::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border: solid .3vw transparent;
    border-radius: 50%;
    background-image: linear-gradient(var(--primary-light-color), var(--primary-light-color)), var(--features-gradient);
    background-origin: border-box;
    background-clip: content-box, border-box;
  }

  .icon {
    position: relative;
    width: 100%;
    margin: auto;
    text-align: center;
    z-index: 1; /* To ensure the icon is above the pseudo-element */
  }
  .icon:hover {
    transform: scale(1.2);
  }
  .feature-paragraph {
    border: solid .5vw var(--primary-dark-color);
    background-color: black;
    color: white;
    width: 30vw;
    padding: 2vw;
  }
  .feature-titles {
    font-size: 1vw;
  }
}