@media screen and (orientation: portrait) {
  .features-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0px;
    width: 100vw;
    height: auto;
  }
  .features-left {
    grid-column: 1 / 3;
    height: 65vw;
  }
  .features-right {
    grid-column: 1 / 3;
  }
  .features-content-container {
    margin-top: 4vw;
    margin-left: var(--left-content-margin);
    height: 20vw;
  }
  .features-icons-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 100%;
    height: 100%;
    margin: auto;
    background-color: var(--primary-light-color);
    align-items: center;
    justify-content: center;
  }
  .ring-container {
    margin: 4vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
  }
  .ring {
    padding: 6vw;
    width: 30%;
    height: 50%;
    border: solid .3vw var(--primary-dark-color);
    border-radius: 50%;
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
  }
  .icon {
    width: 100%;
    margin: auto;
    text-align: center;
  }
  .icon:hover {
    transform: scale(1.3);
  }
  .icon img {
    display: block;
    margin: auto;
  }
  .icon h3 {
    padding-top: 2vw
  }
  .feature-paragraph {
    border: solid 1vw var(--primary-dark-color);
    background-color: black;
    color: white;
    width: 75vw;
    padding: 3vw;
  }
  .feature-titles {
    font-size: 2vw;
  }
}