.footer-icon {
  width: 5%;
  margin-left: 1vw;
  margin-right: 1vw;
  margin-bottom: 1vw;
  text-align: center;
}

.footer-container {
  background-color: var(--primary-light-color);
  /* background-color: var(--secondary-light-color) */
}