@media screen and (orientation: portrait) {
  .social-icon {
    color: var(--primary-dark-color);
    font-size: 10vw;
    margin: 5vw;
    padding-bottom: 5vw;
    text-align: center;
  }
  .social-icon:hover {
    transform: scale(1.3);
    color: black;
  }
  .footer-container {
    background-color: var(--primary-light-color);
  }
  .section-titles {
    margin-top: 4vw;
  }
}