.social-icon {
  color: var(--primary-dark-color);
  font-size: 2vw;
  margin: 1vw;
  text-align: center;
}
.social-icon:hover {
  transform: scale(1.3);
  color: black;
}
.footer-container {
  background-color: var(--primary-light-color);
}